.faculty-dashboard {
  padding: 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.faculty-dashboard h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 2.5em;
  font-family: "Pangolin", cursive;
  font-weight: 600;
  font-style: normal;
}

.faculty-dashboard .top-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.faculty-dashboard .filter-toggle-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #6a6a6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  gap: 8px; /* Space between icon and text */

}

.faculty-dashboard .filter-toggle-button:hover {
  background-color: #5c5c5c;
}

.faculty-dashboard .filter-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.faculty-dashboard .filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.faculty-dashboard .filter-row label {
  flex: 1;
  font-size: 14px;
  color: #333;
}

.faculty-dashboard .filter-row input,
.faculty-dashboard .filter-row select {
  flex: 2;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.faculty-dashboard .apply-filter-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #877c71;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width:25%;
}

.faculty-dashboard .apply-filter-button:hover {
  background-color: #776c61;
}

.faculty-dashboard .apply-filter-row {
  display: flex;
  justify-content: center;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}